@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--primary);
}
:root {
  --primary: #080a14;
  --secondary: #6610f2;
  --font-color: #fff;
}

h1,h2,h3,h4,h5,h6,p,span,a {
  color: var(--font-color);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container {
  max-width: 1260px;
  margin: 0 auto;
}
.bg-primary {
  background-color: var(--primary);
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--font-color);
  padding: 1.2rem 0rem;
  box-shadow: #1a1814;
}
.nav-bar .navbar-brand {
  font-family: "Fredoka One", cursive;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background: -webkit-linear-gradient(90deg, #f37a54, #ee724d -11.78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-link a {
  margin-left: 2rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
